<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Roles</title>
</head>
<body>
    <h2>Listado de Roles</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo de Rol</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rol : ${roles}">
                <td th:text="${rol.idRol}"></td>
                <td th:text="${rol.tipoRol}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
